http_interactions:
- request:
    method: post
    uri: http://search.r-pkg.org/package/_search?from=0&size=10
    body:
      encoding: ''
      string: |-
        {
        "query": {
          "bool": {
            "must_not": {
              "exists": {
                "field": "URL"
              }
            }
          }
        }
        }
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"took":4,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":8353,"max_score":1.0,"hits":[{"_index":"package","_type":"doc","_id":"NRejections","_score":1.0,"_source":{"date":"2018-08-20T08:00:09+00:00","Author":"Maya
        B. Mathur, Tyler J. VanderWeele","MD5sum":"87c0b6ecd74b4cc0d80fd416ff765fc0","NeedsCompilation":"no","Title":"Metrics
        for Multiple Testing with Correlated Outcomes","LazyData":"true","Date":"2018-8-16","Packaged":"2018-08-17
        14:27:50 UTC; mmathur","Date/Publication":"2018-08-20 09:00:09 UTC","Version":"1.0.0","Maintainer":"Maya
        B. Mathur <mmathur@stanford.edu>","Enhances":"","Imports":"doParallel (*),
        stats (*), mvtnorm (*), matrixcalc (*), StepwiseTest (*), foreach (*), ","revdeps":1,"Suggests":"testthat
        (*), ","Depends":"","LinkingTo":"","Package":"NRejections","License":"GPL-2","crandb_file_date":"2018-08-20
        09:02:37","RoxygenNote":"6.0.1","Type":"Package","Description":"Implements
        methods in Mathur and VanderWeele (in preparation) to characterize global
        evidence strength across W correlated ordinary least squares (OLS) hypothesis
        tests. Specifically, uses resampling to estimate a null interval for the total
        number of rejections in, for example, 95% of samples generated with no associations
        (the global null), the excess hits (the difference between the observed number
        of rejections and the upper limit of the null interval), and a test of the
        global null based on the number of rejections.","Repository":"CRAN","downloads":8}},{"_index":"package","_type":"doc","_id":"miniparquet","_score":1.0,"_source":{"date":"2019-10-21T15:40:02+00:00","Author":"Hannes
        Mühleisen [aut, cre] (<https://orcid.org/0000-0001-8552-0029>),\nGoogle Inc.
        [cph],\nApache Software Foundation [cph],\nDaniel Lemire [cph],\nChad Walters
        [cph]","SystemRequirements":"C++11","MD5sum":"a1543779ab86c355f04df23ea390fa78","NeedsCompilation":"yes","Title":"Read
        Parquet Files","Packaged":"2019-10-21 15:04:42 UTC; hannes","Encoding":"UTF-8","Date/Publication":"2019-10-21
        16:40:02 UTC","Version":"0.1.2","Maintainer":"Hannes Mühleisen <hannes@cwi.nl>","Enhances":"","Collate":"''miniparquet.R''","Imports":"methods
        (*), ","Authors@R":"c(\nperson(\"Hannes\", \"M\\u00fchleisen\", role = c(\"aut\",
        \"cre\"), email = \"hannes@cwi.nl\", comment = c(ORCID = \"0000-0001-8552-0029\")),\nperson(\"Google
        Inc.\", role = \"cph\"),\nperson(\"Apache Software Foundation\", role = \"cph\"),\nperson(\"Daniel\",
        \"Lemire\", role = \"cph\"),\nperson(\"Chad\", \"Walters\", role = \"cph\"))","revdeps":1,"Suggests":"testthat
        (*), ","Depends":"R (>= 3.5.0), ","LinkingTo":"","Package":"miniparquet","License":"MIT
        + file LICENSE","crandb_file_date":"2019-10-21 18:26:38","Repository":"CRAN","Description":"Self-sufficient
        reader for a subset of Parquet files. Nested tables, compression besides Snappy
        and encryption are not supported.","downloads":12}},{"_index":"package","_type":"doc","_id":"episode","_score":1.0,"_source":{"date":"2017-10-29T13:27:39+00:00","Author":"Frederik
        Vissing Mikkelsen [aut, cre]","SystemRequirements":"GNU make","MD5sum":"c94aa4562989957cedd690f6ef41ef51","NeedsCompilation":"yes","Title":"Estimation
        with Penalisation in Systems of Ordinary Differential\nEquations","LazyData":"TRUE","VignetteBuilder":"knitr","Packaged":"2017-10-24
        15:23:41 UTC; hmn426","Date/Publication":"2017-10-29 14:27:39 UTC","Version":"1.0.0","Maintainer":"Frederik
        Vissing Mikkelsen <mifretz@gmail.com>","Enhances":"","Imports":"stats (>=
        3.4), Matrix (>= 1.2-9), methods (>= 3.4), nnls (>= 1.4), glmnet (>= 2.0-10),
        Rcpp (>= 0.12.11), ","Authors@R":"person(\"Frederik Vissing\", \"Mikkelsen\",
        email = \"mifretz@gmail.com\", role = c(\"aut\", \"cre\"))","revdeps":1,"Suggests":"rmarkdo[...]
