http_interactions:
- request:
    method: post
    uri: http://search.r-pkg.org/package/_search?from=0&size=10
    body:
      encoding: ''
      string: '{"query":{"query_string":{"query":"permutation test AND NOT License:
        GPL OR GNU","default_field":"*"}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"took":16,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":255,"max_score":12.893336,"hits":[{"_index":"package","_type":"doc","_id":"phd","_score":12.893336,"_source":{"date":"2019-07-02T14:10:03+00:00","Author":"Jesse
        Hemerik, Livio Finos","MD5sum":"500a138099b01578732be67a9d720283","NeedsCompilation":"no","Title":"Permutation
        Testing in High-Dimensional Linear Models","LazyData":"TRUE","Date":"2019-06-28","Packaged":"2019-07-01
        09:12:23 UTC; Jesse","Date/Publication":"2019-07-02 15:10:03 UTC","Version":"0.1","Maintainer":"Jesse
        Hemerik <jesse.hemerik@medisin.uio.no>","Enhances":"","Imports":"methods (*),
        stats (*), glmnet (*), ","revdeps":1,"Suggests":"","Depends":"","LinkingTo":"","Package":"phd","License":"GNU
        General Public License","crandb_file_date":"2019-07-02 16:44:24","Repository":"CRAN","Type":"Package","Description":"Provides
        permutation methods for testing in high-dimensional linear models.\nThe tests
        are often robust against heteroscedasticity and non-normality\nand usually
        perform well under anti-sparsity.\nSee Hemerik and Goeman (2018) <doi:10.1007/s11749-017-0571-1>.","downloads":344}},{"_index":"package","_type":"doc","_id":"confSAM","_score":12.429166,"_source":{"date":"2018-02-19T09:39:59+00:00","Author":"Jesse
        Hemerik and Jelle Goeman","MD5sum":"20b9fde94848e21d5fb7366e9287aba0","NeedsCompilation":"no","Title":"Estimates
        and Bounds for the False Discovery Proportion, by\nPermutation","LazyData":"TRUE","Date":"2018-02-12","VignetteBuilder":"knitr","Packaged":"2018-02-19
        10:17:52 UTC; Jesse","Date/Publication":"2018-02-19 10:39:59 UTC","Version":"0.2","Maintainer":"Jesse
        Hemerik <j.b.a.hemerik@lumc.nl>","Enhances":"","Imports":"","revdeps":1,"Suggests":"penalized
        (*), knitr (*), survival (*), markdown (*), ","Depends":"","LinkingTo":"","Package":"confSAM","License":"GNU
        General Public License","crandb_file_date":"2018-02-19 10:44:23","Repository":"CRAN","Type":"Package","Description":"For
        multiple testing.\nComputes estimates and confidence bounds for the\nFalse
        Discovery Proportion (FDP), the fraction of false positives among\nall rejected
        hypotheses.\nThe methods in the package use permutations of the data. Doing
        so, they\ntake into account the dependence structure in the data.","downloads":523}},{"_index":"package","_type":"doc","_id":"permutes","_score":10.970992,"_source":{"date":"2019-07-21T16:00:02+00:00","Author":"Cesko
        C. Voeten [aut, cre]","MD5sum":"3caf5abde9dc7583abdb1e416b46d02d","NeedsCompilation":"no","Title":"Permutation
        Tests for Time Series Data","LazyData":"true","VignetteBuilder":"knitr","Encoding":"UTF-8","Packaged":"2019-07-21
        16:12:20 UTC; cesko","Date/Publication":"2019-07-21 17:00:02 UTC","Version":"1.0","Maintainer":"Cesko
        C. Voeten <cvoeten@gmail.com>","Enhances":"","Imports":"viridis (*), ggplot2
        (*), plyr (*), lmPerm (*), ","Authors@R":"person(c(\"Cesko\", \"C.\"), \"Voeten\",
        email = \"cvoeten@gmail.com\", role = c(\"aut\", \"cre\"))","revdeps":1,"Suggests":"rmarkdown
        (*), doParallel (*), dplyr (*), knitr (*), tidyr (*), ","BugReports":"https://github.com/cvoeten/permutes/issues","Depends":"R
        (>= 2.10), ","LinkingTo":"","Package":"permutes","License":"FreeBSD","crandb_file_date":"2019-07-21
        17:56:25","RoxygenNote":"6.1.1","Repository":"CRAN","Description":"Helps you
        determine the analysis window to use when analyzing densely-sampled\ntime-series
        data, such as EEG data, using permutation testing (Maris & Oostenveld 2007)\n<doi:10.1016/j.jneumeth.2007.03.024>.
        These permutation tests can help identify the timepoints\nwhere significance
        of an effect begins and ends, and the results can be plotted in various\ntypes
        of heatmap for reporting.","downloads":368}},{"_index":[...]
