http_interactions:
- request:
    method: get
    uri: http://cranlogs.r-pkg.org/top/last-week/100
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"start":"2020-02-03T00:00:00.000Z","end":"2020-02-09T00:00:00.000Z","downloads":[{"package":"magrittr","downloads":"1058149"},{"package":"aws.ec2metadata","downloads":"913043"},{"package":"rsconnect","downloads":"902210"},{"package":"rlang","downloads":"415336"},{"package":"dplyr","downloads":"335750"},{"package":"vctrs","downloads":"301695"},{"package":"ggplot2","downloads":"256803"},{"package":"ellipsis","downloads":"254649"},{"package":"Rcpp","downloads":"243899"},{"package":"pillar","downloads":"242269"},{"package":"tibble","downloads":"230150"},{"package":"tidyr","downloads":"2291[...]
