http_interactions:
- request:
    method: get
    uri: https://crandb.r-pkg.org/igraph0
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"65I3PF3LILKWGDFZ617BRF2EB"'
      x-couch-request-id: 9d678444c2
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"Package":"igraph0","Version":"0.5.7","Date":"2013-04-07","Title":"Network
        analysis and visualization, old, deprecated package.","Author":"See AUTHORS
        file.","Maintainer":"Gabor Csardi <csardi.gabor@gmail.com>","Description":"Network
        analysis package, old, deprecated version.\u000a''igraph0'' is the old version
        of the igraph package, kept alive\u000atemporarily, for compatibility reasons.
        In this package,\u000avertices and edges are indexed from zero, whereas in
        ''igraph'',\u000astarting from version 0.6, they are indexed from one. Please
        do\u000anot use this package for new projects.","Depends":{"stats":"*"},"Suggests":{"stats4":"*","rgl":"*","tcltk":"*","RSQLite":"*","digest":"*","graph":"*","Matrix":"*"},"License":"GPL
        (>= 2)","URL":"http://igraph.sourceforge.net","SystemRequirements":"gmp, libxml2","Packaged":"2013-04-09
        20:34:56 UTC; gaborcsardi","Repository":"CRAN","Date/Publication":"2013-04-10
        08:22:23","crandb_file_date":"2013-09-05 04:48:21","NeedsCompilation":"yes","date":"2013-04-10T08:22:23+00:00","releases":["3.0.1"]}'
  recorded_at: 2020-02-11 13:28:47 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
