http_interactions:
- request:
    method: get
    uri: https://crandb.r-pkg.org//-/allall?start_key="qeayjdrzqoxgdyentzro"&limit=1
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{ "qfa":{"_id":"qfa","_rev":"2-07db06f30e40832b4bd5529030ac6d8f","name":"qfa","versions":{"0.0-10":{"Package":"qfa","Version":"0.0-10","Date":"2013-06-13","Title":"Tools
        for modelling the growth dynamics of arrays of large<U+000a>numbers of colonies
        and performing quantitative fitness<U+000a>analysis (QFA).","Author":"Conor
        Lawless <conor.lawless@ncl.ac.uk>, with contributions<U+000a>from Alexander
        Young <alextisyoung@gmail.com> and Darren<U+000a>Wilkinson <d.j.wilkinson@ncl.ac.uk>","Maintainer":"Conor
        Lawless <conor.lawless@ncl.ac.uk>","Depends":{"R":">= 2.10.1","sp":"*","DEoptim":"*"},"Suggests":{},"Description":"Quantitative
        Fitness Analysis (QFA) is a complementary<U+000a>series of experimental and
        computational methods for estimating<U+000a>the fitness of thousands of microbial
        cultures in parallel.<U+000a>QFA is suitable for focussed, high-quality studies
        of the<U+000a>effect of genetic mutations or drug interventions on growth
        in<U+000a>model microbial organisms such as brewer''s yeast.  Culture<U+000a>growth
        is observed by time-lapse photography of s[...]
