http_interactions:
- request:
    method: get
    uri: https://crandb.r-pkg.org/igraph/all
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      etag: '"972O8V4AAN0K6POZUKBT38AOL"'
      x-couch-request-id: af1a441181
      x-couchdb-body-time: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"_id":"igraph","_rev":"14-4ace53c934b8230d791943ab3405c6d6","name":"igraph","versions":{"0.1.1":{"Package":"igraph","Version":"0.1.1","Date":"Januar
        25, 2005","Title":"IGraph class","Author":"Gabor Csardi <csardi@rmki.kfki.hu>","Maintainer":"Gabor
        Csardi <csardi@rmki.kfki.hu>","Description":"Routines for simple graphs.","License":"GPL
        version 2 or later (June, 1991)","URL":"http://cneurocvs.rmki.kfki.hu/igraph","Packaged":"Tue
        Feb 28 14:17:08 2006; csardi","crandb_file_date":"2006-03-01 03:41:22","date":"2006-02-28T19:17:08+00:00","releases":[]},"0.1.2":{"Package":"igraph","Version":"0.1.2","Date":"Januar
        25, 2005","Title":"Routines for network analysis.","Author":"Gabor Csardi
        <csardi@rmki.kfki.hu>","Maintainer":"Gabor Csardi <csardi@rmki.kfki.hu>","Description":"The
        igraph package contains routines for creating and<U+000a>manipulating graphs,
        and graph visualization. It can handle graphs with<U+000a>millions of vertices
        and edges.","License":"GPL version 2 or later (June, 1991)","URL":"http:[...]
