http_interactions:
- request:
    method: get
    uri: https://crandb.r-pkg.org/-/archivals?limit=2&descending=true&skip=0
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[ {"date":"2020-02-11T09:20:33+00:00","name":"rray","event":"archived","package":{"Package":"rray","Title":"Simple
        Arrays","Version":"0.1.0","Authors@R":"\u000ac(person(given = \"Davis\",\u000afamily
        = \"Vaughan\",\u000arole = c(\"aut\", \"cre\"),\u000aemail = \"davis@rstudio.com\"),\u000aperson(given
        = \"RStudio\",\u000arole = \"cph\"))","Description":"Provides a toolkit for
        manipulating arrays in a consistent,\u000apowerful, and intuitive manner through
        the use of broadcasting and a new\u000aarray class, the ''rray''.","License":"GPL-3","URL":"https://github.com/r-lib/rray","BugReports":"https://github.com/r-lib/rray/issues","Depends":{"R":">=
        3.2"},"Imports":{"glue":"*","Rcpp":">= 1.0.1","rlang":">= 0.4.0","utils":"*","vctrs":">=\u000a0.2.0"},"Suggests":{"covr":"*","knitr":"*","magrittr":"*","rmarkdown":"*","testthat":">=
        2.1.0"},"LinkingTo":{"Rcpp":"*","xtensor":">= 0.11.1-0"},"VignetteBuilder":"knitr","Encoding":"UTF-8","LazyData":"true","RoxygenNote":"6.1.1","NeedsCompilation":"yes","Packaged":"2019-07-19
        13:36:39 UTC; davis","Author":"Davis Vaughan [aut, cre],\u000aRStudio [cph]","Maintainer":"Davis
        Vaughan <davis@rstudio.com>","Repository":"CRAN","Date/Publication":"2019-07-23
        12:10:03 UTC","crandb_file_date":"2019-07-23 14:02:23","MD5sum":"5d08e5af3647b8dac123dd609bb48acf","date":"2019-07-23T11:10:03+00:00","releases":[]}},{"date":"2020-02-11T09:20:32+00:00","name":"export","event":"archived","package":{"Package":"export","Type":"Package","Title":"Streamlined
        Export of Graphs and Data Tables","Version":"0.2.2","Date":"2018-09-18","Authors@R":"c(person(\"Tom\",
        \"Wenseleers\", role = c(\"aut\", \"cre\"),\u000aemail = \"tom.wenseleers@kuleuven.be\"),\u000aperson(\"Christophe\",
        \"Vanderaa\", role = c(\"aut\"),\u000aemail = \"christophe.vanderaa@kuleuven.be\"))","Depends":{"R":">=
        3.0"},"Imports":{"stats":"*","utils":"*","datasets":"*","grDevices":"*","officer":">=
        0.2.2","rvg":">=\u000a0.1.8","xtable":">= 1.8-2","flextable":">= 0.4.3","rgl":">=\u000a0.99.16","xml2":">=
        1.2.0","stargazer":">= 5.2.1","openxlsx":">=\u000a4.0.17","broom":">= 0.4.4"},"Suggests":{"ggplot2":">=
        1.0"},"Description":"Easily export ''R'' graphs and statistical output to
        ''Microsoft\u000aOffice'' / ''LibreOffice'', ''Latex'' and ''HTML'' Documents,
        using sensible defaults\u000athat result in publication-quality output with
        simple, straightforward commands.\u000aOutput to ''Microsoft Office'' is in
        editable ''DrawingML'' vector format for\u000agraphs, and can use corporate
        template documents for styling. This enables\u000athe production of[...]
