http_interactions:
- request:
    method: post
    uri: http://search.r-pkg.org/package/_search?from=0&size=10
    body:
      encoding: ''
      string: |-
        {
          "query": {
            "function_score": {
              "functions": [
                {
                  "field_value_factor": {
                    "field": "revdeps",
                    "modifier": "sqrt",
                    "factor": 1
                  }
                }
              ],
              "query": {
                "bool": {
                  "must": [
                    {
                      "multi_match": {
                        "query": "csardi",
                        "type": "most_fields"
                      }
                    }
                  ],
                  "should": [
                    {
                      "multi_match": {
                        "query": "csardi",
                        "fields": ["Title^10", "Description^2", "_all"],
                        "type": "phrase",
                        "analyzer": "english_and_synonyms",
                        "boost": 10
                      }
                    },
                    {
                      "multi_match": {
                        "query": "csardi",
                        "fields": ["Package^20", "Title^10", "Description^2", "Author^5", "Maintainer^6", "_all"],
                        "operator": "and",
                        "analyzer": "english_and_synonyms",
                        "boost": 5
                      }
                    }
                  ]
                }
              }
            }
          }
        }
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"took":6,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":72,"max_score":4509.262,"hits":[{"_index":"package","_type":"doc","_id":"igraph","_score":4509.262,"_source":{"date":"2019-11-27T19:02:16+00:00","Author":"See
        AUTHORS file.","SystemRequirements":"gmp (optional), libxml2 (optional), glpk
        (optional)","MD5sum":"33425af52de049cee8d3ad508c2c37a9","NeedsCompilation":"yes","URL":"http://igraph.org","Title":"Network
        Analysis and Visualization","Packaged":"2019-11-13 08:31:37 UTC; maechler","Encoding":"UTF-8","Date/Publication":"2019-11-27
        20:02:16 UTC","Version":"1.2.4.2","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Enhances":"","Collate":"''adjacency.R''
        ''auto.R'' ''assortativity.R'' ''attributes.R''\n''basic.R'' ''bipartite.R''
        ''centrality.R'' ''centralization.R''\n''cliques.R'' ''cocitation.R'' ''cohesive.blocks.R''
        ''community.R''\n''components.R'' ''console.R'' ''conversion.R'' ''data_frame.R''\n''decomposition.R''
        ''degseq.R'' ''demo.R'' ''embedding.R'' ''epi.R''\n''fit.R'' ''flow.R'' ''foreign.R''
        ''games.R'' ''glet.R'' ''hrg.R''\n''igraph-package.R'' ''incidence.R'' ''indexing.R''
        ''interface.R''\n''iterators.R'' ''layout.R'' ''layout_drl.R'' ''lazyeval.R''
        ''make.R''\n''minimum.spanning.tree.R'' ''motifs.R'' ''nexus.R'' ''operators.R''\n''other.R''
        ''package.R'' ''palette.R'' ''par.R'' ''paths.R'' ''plot.R''\n''plot.common.R''
        ''plot.shapes.R'' ''pp.R'' ''print.R'' ''printr.R''\n''random_walk.R'' ''rewire.R''
        ''scan.R'' ''scg.R'' ''sgm.R''\n''similarity.R'' ''simple.R'' ''sir.R'' ''socnet.R''
        ''sparsedf.R''\n''structural.properties.R'' ''structure.info.R'' ''test.R''\n''tkplot.R''
        ''topology.R'' ''triangles.R'' ''utils.R'' ''uuid.R''\n''versions.R'' ''weakref.R''
        ''zzz-deprecate.R''","Imports":"grDevices (*), stats (*), utils (*), pkgconfig
        (>= 2.0.0), Matrix (*), graphics (*), magrittr (*), ","revdeps":567,"Suggests":"igraphdata
        (*), stats4 (*), tcltk (*), rgl (*), ape (*), graph (*), testthat (*), scales
        (*), digest (*), ","BugReports":"https://github.com/igraph/igraph/issues","Depends":"methods
        (*), ","LinkingTo":"","Package":"igraph","License":"GPL (>= 2)","crandb_file_date":"2019-11-27
        21:50:25","RoxygenNote":"6.1.1","Repository":"CRAN","Description":"Routines
        for simple graphs and network analysis. It can\nhandle large graphs very well
        and provides functions for generating random\nand regular graphs, graph visualization,
        centrality methods and much more.","downloads":199259}},{"_index":"package","_type":"doc","_id":"crayon","_score":2695.6836,"_source":{"date":"2017-09-16T18:49:46+00:00","Author":"Gábor
        Csárdi [aut, cre],\nBrodie Gaslam [ctb]","MD5sum":"77c7c2906c59a3141306d86c89ffc7d3","NeedsCompilation":"no","URL":"https://github.com/r-lib/crayon#readme","Title":"Colored
        Terminal Output","LazyData":"true","Packaged":"2017-09-15 18:14:04 UTC; gaborcsardi","Encoding":"UTF-8","Date/Publication":"2017-09-16
        19:49:46 UTC","Version":"1.3.4","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Enhances":"","Collate":"''ansi-256.r''
        ''combine.r'' ''string.r'' ''utils.r''\n''crayon-package.r'' ''disposable.r''
        ''has_ansi.r'' ''has_color.r''\n''styles.r'' ''machinery.r'' ''parts.r'' ''print.r''
        ''style-var.r''\n''show.r'' ''string_operations.r''","Imports":"methods (*),
        grDevices (*), utils (*), ","Authors@R":"c(\nperson(\"Gábor\", \"Csárdi\",
        , \"csardi.gabor@gmail.com\",\nrole = c(\"aut\", \"cre\")),\nperson(\n\"Brodie\",
        \"Gaslam\", email=\"brodie.gaslam@yahoo.com\",\nrole=c(\"ctb\"))\n)","revdeps":210,"BugReports":"https://github.com/r-lib/crayon/issues","Suggests":"mockery
        (*), rstudioapi (*), withr (*), testthat (*), ","Depends":"","LinkingTo":"","Package":"crayon","License":"MIT
        + file LICENSE","crandb_file_date":"2017-09-16 20:14:54","RoxygenNote":"6.0.1.9000","Repository":"CRAN","Description":"Colored
        terminal output on terminals that support ''ANSI''\ncolor and highlight codes.
        It also works in ''Emacs'' ''ESS''. ''ANSI''\ncolor support is automatically
        detected. Colors and highlighting can\nbe combined and nested. New styles
        can also be created easily.\nThis package was inspired by the ''chalk'' ''JavaScript''
        project.","downloads":559495}},{"_index":"package","_type":"doc","_id":"cli","_score":1746.0586,"_source":{"date":"2020-01-08T22:01:45+00:00","Author":"Gábor
        Csárdi [aut, cre],\nHadley Wickham [ctb],\nKirill Müller [ctb]","MD5sum":"6f0ec39ebd7fd4898d58f6519bfbabd9","NeedsCompilation":"no","URL":"https://github.com/r-lib/cli#readme","Title":"Helpers
        for Developing Command Line Interfaces","LazyData":"true","VignetteBuilder":"cli","Encoding":"UTF-8","Packaged":"2020-01-07
        21:33:38 UTC; gaborcsardi","Date/Publication":"2020-01-08 23:01:45 UTC","Version":"2.0.1","Maintainer":"Gábor
        Csárdi <csardi.gabor@gmail.com>","Enhances":"","Imports":"assertthat (*),
        utils (*), crayon (>= 1.3.4), methods (*), glue (*), fansi (*), ","Authors@R":"c(\nperson(\"Gábor\",
        \"Csárdi\", , \"csardi.gabor@gmail.com\", c(\"aut\", \"cre\")),\nperson(\"Hadley\",
        \"Wickham\", role = c(\"ctb\")),\nperson(\"Kirill\", \"Müller\", role = c(\"ctb\"))\n)","revdeps":85,"BugReports":"https://github.com/r-lib/cli/issues","Suggests":"prettycode
        (>= 1.1.0), mockery (*), htmlwidgets (*), testthat (*), covr (*), callr (*),
        knitr (*), rmarkdown (*), rstudioapi (*), withr (*), ","Depends":"R (>= 2.10),
        ","LinkingTo":"","Package":"cli","License":"MIT + file LICENSE","crandb_file_date":"2020-01-09
        00:32:33","RoxygenNote":"7.0.2","Repository":"CRAN","Description":"A suite
        of tools to build attractive command line interfaces\n(''CLIs''), from semantic
        elements: headings, lists, alerts, paragraphs,\netc. Supports custom themes
        via a ''CSS''-like language. It also contains a\nnumber of lower level ''CLI''
        elements: rules, boxes, trees, and\n''Unicode'' symbols with ''ASCII'' alternatives.
        It integrates with the\n''crayon'' package to support ''ANSI'' terminal colors.","downloads":760790}},{"_index":"package","_type":"doc","_id":"progress","_score":1713.2158,"_source":{"date":"2019-05-16T20:30:03+00:00","Author":"Gábor
        Csá[...]
