http_interactions:
- request:
    method: post
    uri: http://search.r-pkg.org/package/_search?from=10&size=10
    body:
      encoding: ''
      string: |-
        {
          "query": {
            "function_score": {
              "functions": [
                {
                  "field_value_factor": {
                    "field": "revdeps",
                    "modifier": "sqrt",
                    "factor": 1
                  }
                }
              ],
              "query": {
                "bool": {
                  "must": [
                    {
                      "multi_match": {
                        "query": "csardi",
                        "type": "most_fields"
                      }
                    }
                  ],
                  "should": [
                    {
                      "multi_match": {
                        "query": "csardi",
                        "fields": ["Title^10", "Description^2", "_all"],
                        "type": "phrase",
                        "analyzer": "english_and_synonyms",
                        "boost": 10
                      }
                    },
                    {
                      "multi_match": {
                        "query": "csardi",
                        "fields": ["Package^20", "Title^10", "Description^2", "Author^5", "Maintainer^6", "_all"],
                        "operator": "and",
                        "analyzer": "english_and_synonyms",
                        "boost": 5
                      }
                    }
                  ]
                }
              }
            }
          }
        }
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"took":5,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":72,"max_score":4509.262,"hits":[{"_index":"package","_type":"doc","_id":"clisymbols","_score":785.5295,"_source":{"date":"2017-05-21T16:19:19+00:00","Author":"Gábor
        Csárdi [aut, cre],\nSindre Sorhus [aut]","NeedsCompilation":"no","URL":"https://github.com/gaborcsardi/clisymbols","Title":"Unicode
        Symbols at the R Prompt","Packaged":"2017-05-21 10:41:16 UTC; gaborcsardi","Encoding":"UTF-8","Date/Publication":"2017-05-21
        17:19:19 UTC","Version":"1.2.0","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Enhances":"","Imports":"","Authors@R":"c(\nperson(\"Gábor\",
        \"Csárdi\", , \"csardi.gabor@gmail.com\", role = c(\"aut\", \"cre\")),\nperson(\"Sindre\",
        \"Sorhus\", role = \"aut\")\n)","revdeps":15,"BugReports":"https://github.com/gaborcsardi/clisymbols/issues","Suggests":"testthat
        (*), ","Depends":"","LinkingTo":"","Package":"clisymbols","License":"MIT +
        file LICENSE","crandb_file_date":"2017-05-21 17:26:49","Repository":"CRAN","Description":"A
        small subset of Unicode symbols, that are useful\nwhen building command line
        applications. They fall back to\nalternatives on terminals that do not support
        Unicode.\nMany symbols were taken from the ''figures'' ''npm'' package\n(see
        <https://github.com/sindresorhus/figures>).","downloads":149442}},{"_index":"package","_type":"doc","_id":"pingr","_score":777.2582,"_source":{"date":"2019-10-21T15:20:02+00:00","Author":"Gábor
        Csárdi [aut, cre]","MD5sum":"3dc5f4c1364d954a0c595d620553156d","NeedsCompilation":"yes","URL":"https://github.com/r-lib/pingr#readme","Title":"Check
        if a Remote Computer is Up","LazyData":"true","Packaged":"2019-10-21 14:15:34
        UTC; gaborcsardi","Encoding":"UTF-8","Date/Publication":"2019-10-21 16:20:02
        UTC","Version":"2.0.0","Maintainer":"Gábor Csárdi <csardi.gabor@gmail.com>","Enhances":"","Imports":"utils
        (*), processx (*), ","Authors@R":"person(given = \"Gábor\", family = \"Csárdi\",
        role = c(\"aut\", \"cre\"),\nemail = \"csardi.gabor@gmail.com\")","revdeps":15,"BugReports":"https://github.com/r-lib/pingr/issues","Suggests":"covr
        (*), testthat (*), ","Depends":"","LinkingTo":"","Package":"pingr","License":"MIT
        + file LICENSE","crandb_file_date":"2019-10-21 18:26:39","RoxygenNote":"6.1.99.9001","Repository":"CRAN","Description":"Check
        if a remote computer is up. It can either\njust call the system ping command,
        or check a specified\nTCP port.","downloads":14772}},{"_index":"package","_type":"doc","_id":"sessioninfo","_score":752.09143,"_source":{"date":"2018-11-05T16:20:02+00:00","Author":"Gábor
        Csárdi, R core, Hadley Wickham, Winston Chang,\nRobert M Flight, Kirill Müller,
        Jim Hester","MD5sum":"c24a1284471f752ba925990304d7268f","NeedsCompi[...]
